body {
  padding: 0;
  margin: 0;
  background-color: #f7f8fa;
}
body img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.top-wrap {
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.top-wrap .center {
  width: 80%;
  margin: 0 auto;
  height: 60px;
}
.top-wrap .center .left {
  width: 400px;
  /*background-color: yellowgreen;*/
  height: 60px;
  float: left;
}
.top-wrap .center .left .logo {
  float: left;
}
.top-wrap .center .left .logo img {
  margin-top: 17.5px;
  margin-right: 10px;
}
.top-wrap .center .left .nav span {
  float: left;
  margin-left: 20px;
}
.top-wrap .center .left .store {
  margin-left: 25px;
  text-decoration: none;
  color: #fda422;
}
.top-wrap .center .right {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*background-color: blueviolet;*/
  height: 60px;
  float: right;
}
.top-wrap .center .right .vip {
  height: 30px;
  color: #fda422;
  background-color: #f2f2f2;
  border-radius: 5px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.top-wrap .center .right .bule {
  height: 30px;
  border: 2px solid #007aff;
  color: #007aff;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}
.top-wrap .center .right .login a {
  text-decoration: none;
  color: #595959;
}
.content-wrap {
  width: 70%;
  height: 3500px;
  margin: auto;
  margin-top: 8px;
}
.content-wrap .big {
  width: 74%;
  height: 3000px;
  float: left;
  margin-top: 5px;
  border-radius: 10px;
}
.content-wrap .big .written {
  border-radius: 10px;
  margin: 8px;
  height: 150px;
  width: 48.4%;
  float: left;
  margin-right: 4px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .written .a1 {
  height: 50px;
  width: 100%;
}
.content-wrap .big .written .a1 .zhinan {
  width: 250px;
  float: left;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
}
.content-wrap .big .written .a1 .a {
  height: 20px;
  background-color: #fff1dc;
  width: 45px;
  border-radius: 10px;
  float: right;
  color: #ffa116;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}
.content-wrap .big .written .offer {
  height: 50px;
  width: 350px;
  color: #5c5c5c;
  margin: 10px;
  font-size: 15px;
  margin-bottom: 0px;
}
.content-wrap .big .written .a2 {
  height: 30px;
  width: 340px;
  line-height: 30px;
  padding-left: 20px;
}
.content-wrap .big .written .a2 .weiguan {
  font-size: 10px;
  float: left;
}
.content-wrap .big .written .a2 .jinru {
  float: right;
  color: #007aff;
  font-size: 14px;
}
.content-wrap .big .question {
  border-radius: 10px;
  margin: 8px;
  height: 150px;
  width: 48.4%;
  float: right;
  margin-left: 4px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .question .b1 {
  height: 50px;
  width: 100%;
}
.content-wrap .big .question .b1 .zhaopin {
  width: 250px;
  float: left;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
}
.content-wrap .big .question .b1 .b {
  height: 20px;
  background-color: #fff1dc;
  width: 45px;
  border-radius: 10px;
  float: right;
  color: #ffa116;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
}
.content-wrap .big .question .xingqu {
  height: 50px;
  width: 350px;
  color: #5c5c5c;
  margin: 10px;
  font-size: 15px;
  margin-bottom: 0px;
}
.content-wrap .big .question .b2 {
  height: 30px;
  width: 340px;
  line-height: 30px;
  padding-left: 20px;
}
.content-wrap .big .question .b2 .weiguan2 {
  font-size: 10px;
  float: left;
}
.content-wrap .big .question .b2 .jinru2 {
  float: right;
  color: #007aff;
  font-size: 14px;
}
.content-wrap .big .below {
  border-radius: 10px;
  margin: 8px;
  height: 2800px;
  margin-top: 166px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .below .first {
  height: 40px;
  margin: 8px;
  margin-bottom: 0px;
  border-radius: 10px;
  line-height: 40px;
}
.content-wrap .big .below .first .mian {
  float: left;
  display: flex;
}
.content-wrap .big .below .first .mian .circle {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: 12px 8px;
}
.content-wrap .big .below .first .more {
  float: right;
}
.content-wrap .big .below .first .more .word {
  text-decoration: none;
}
.content-wrap .big .below .banner {
  height: 170px;
  margin: 0px 8px 13px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content-wrap .big .below .banner .tesla {
  border-radius: 10px;
  height: 160px;
  width: 22%;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .below .banner .tesla .tu1 {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.content-wrap .big .below .banner .tesla .ming1 {
  margin-left: 20px;
}
.content-wrap .big .below .banner .tesla .ming1 .sss {
  font-size: 10px;
  color: #9b8c8c;
}
.content-wrap .big .below .banner .tesla .ming1 .sss2 {
  font-size: 10px;
  color: #2db591;
}
.content-wrap .big .below .banner .tesla .chat1 {
  height: 20px;
  width: 80px;
  border-radius: 8px;
  background: #ebf5ff;
  color: #007aff;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
}
.content-wrap .big .below .banner .huawei {
  border-radius: 10px;
  height: 160px;
  width: 22%;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .below .banner .huawei .tu2 {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.content-wrap .big .below .banner .huawei .ming2 {
  margin-left: 20px;
}
.content-wrap .big .below .banner .huawei .ming2 .sss {
  font-size: 10px;
  color: #9b8c8c;
}
.content-wrap .big .below .banner .huawei .ming2 .sss2 {
  font-size: 10px;
  color: #2db591;
}
.content-wrap .big .below .banner .huawei .chat2 {
  height: 20px;
  width: 80px;
  border-radius: 8px;
  background: #ebf5ff;
  color: #007aff;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
}
.content-wrap .big .below .banner .dance {
  border-radius: 10px;
  height: 160px;
  width: 22%;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .below .banner .dance .tu3 {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.content-wrap .big .below .banner .dance .ming3 {
  margin-left: 20px;
}
.content-wrap .big .below .banner .dance .ming3 .sss {
  font-size: 10px;
  color: #9b8c8c;
}
.content-wrap .big .below .banner .dance .ming3 .sss2 {
  font-size: 10px;
  color: #2db591;
}
.content-wrap .big .below .banner .dance .chat3 {
  height: 20px;
  width: 80px;
  border-radius: 8px;
  background: #ebf5ff;
  color: #007aff;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
}
.content-wrap .big .below .banner .meituan {
  border-radius: 10px;
  width: 22%;
  height: 160px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .big .below .banner .meituan .tu4 {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.content-wrap .big .below .banner .meituan .ming4 {
  margin-left: 20px;
}
.content-wrap .big .below .banner .meituan .ming4 .sss {
  font-size: 10px;
  color: #9b8c8c;
}
.content-wrap .big .below .banner .meituan .ming4 .sss2 {
  font-size: 10px;
  color: #2db591;
}
.content-wrap .big .below .banner .meituan .chat4 {
  height: 20px;
  width: 80px;
  border-radius: 8px;
  background: #ebf5ff;
  color: #007aff;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
}
.content-wrap .big .below .block {
  height: 130px;
  border: 1px solid #e6e7e8;
}
.content-wrap .big .below .block .user {
  height: 50px;
  line-height: 50px;
}
.content-wrap .big .below .block .user .avatar {
  float: left;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: pink;
  margin: 15px 8px;
}
.content-wrap .big .below .block .user .saying {
  float: left;
}
.content-wrap .big .below .block .user .time {
  float: right;
  font-size: 5px;
  margin-right: 8px;
  color: #dfdfdf;
}
.content-wrap .big .below .block .text {
  height: 40px;
  font-size: 15px;
  margin-left: 8px;
  color: #8a8a8e;
}
.content-wrap .big .below .block .bottom {
  height: 40px;
}
.content-wrap .big .below .block .bottom .ld {
  float: left;
  height: 25px;
  border-radius: 20px;
  width: 40px;
  background-color: #e0f4e7;
  margin: 8px;
  font-size: 15px;
  padding-left: 10px;
  color: #2db55d;
}
.content-wrap .big .below .block .bottom .cup {
  float: left;
  height: 25px;
  border-radius: 20px;
  width: 40px;
  background-color: #f2f3f4;
  margin: 8px;
  font-size: 15px;
  padding-left: 10px;
  color: #85859b;
}
.content-wrap .small {
  margin-top: 5px;
  width: 25%;
  float: right;
  height: 2000px;
}
.content-wrap .small .search {
  border-radius: 10px;
  height: 40px;
  margin: 8px;
  line-height: 40px;
  padding-left: 33px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .pic1 {
  border-radius: 10px;
  height: 120px;
  margin: 8px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .pic2 {
  border-radius: 10px;
  height: 120px;
  margin: 8px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .two {
  border-radius: 10px;
  margin: 8px;
  height: 66px;
  line-height: 66px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .two .fa {
  float: left;
  height: 66px;
  width: 47%;
  padding-left: 10px;
  border-radius: 10px;
}
.content-wrap .small .two .fa .yuan1 {
  float: left;
  background-color: #2db55d;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-top: 18px;
  margin-right: 4px;
}
.content-wrap .small .two .fa .zi1 {
  color: #2db55d;
}
.content-wrap .small .two .sui {
  float: right;
  height: 66px;
  width: 47%;
  border-radius: 10px;
}
.content-wrap .small .two .sui .yuan2 {
  float: left;
  background-color: #af52de;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-top: 18px;
  margin-right: 4px;
}
.content-wrap .small .two .sui .zi2 {
  color: #af52de;
}
.content-wrap .small .discuss {
  border-radius: 10px;
  margin: 8px;
  height: 420px;
  padding-top: 15px;
  padding-left: 10px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .discuss .jingdian {
  height: 50px;
  width: 98%;
  padding-top: 5px;
}
.content-wrap .small .discuss .jingdian .huang {
  color: #ffa116;
}
.content-wrap .small .discuss .jingdian .dzd {
  font-size: 13px;
  color: #c4c4c6;
}
.content-wrap .small .pic3 {
  border-radius: 10px;
  margin: 8px;
  height: 120px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .solve {
  border-radius: 10px;
  margin: 8px;
  height: 420px;
  padding-top: 15px;
  padding-left: 10px;
  box-shadow: 0px 1px 2px 2px #e3e4e6;
}
.content-wrap .small .solve .jingdian {
  height: 50px;
  width: 98%;
  padding-top: 5px;
}
.content-wrap .small .solve .jingdian .huang {
  color: #ffa116;
}
.content-wrap .small .solve .jingdian .dzd {
  font-size: 13px;
  color: #c4c4c6;
}
